
header{
    width: 100%;
    background:linear-gradient(#02DAC7,#048F96,#014667);
    box-shadow: 0px 4px 5px black;
}
header img{
    width: 25%;
    
    
}

.img-cabecalho{
    position: relative;
    width: 940px;
    
    
}
.pesquisa{
    position: absolute;
    top:10%;
    right:5%;
    width: 45%;
    
    
}
div>input{
    width:100%;
    padding: 10px;
}
div input::after{

    content: \2192;
}
nav li{
    display: inline;
    padding: 5px;   
    
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(1, 70, 103,0.3);
}
li a:hover{
    background-color: rgb(1, 70, 103);
}
nav{
    position: absolute;
    top: 8em;
    right: 1em;
    margin: 0 50px;
}
body{

    background-color: rgb(184, 180, 180);
}
main{
    
    margin: 10px 0px auto;
    background-color: rgb(184, 180, 180);
   
   
}

.departamentos{
    width: 1040px;
    margin: 0 auto;
    background-color: rgb(184, 180, 180);

}
.principal{
    background: #014667;
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    
}
section{
    padding: 5px;
    
}
#segmento1{
    
    background-image: url("imagens/cortina-fundo.jpg");
    
}
#segmento2{
    background-image: url("imagens/cama.jpg");
}
#segmento3{
    background-image: url("imagens/banho.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#segmento4{
    background-image: url("imagens/mesa.jpg");
}
#segmento5{
    background-image: url("imagens/moda.jpg");
}
#segmento6{
    background-image: url("imagens/festa.jpg");
}

.segmento{
    display: inline-block;
    background-size: cover;
    height: 15em;
    text-align: center;
    border: 1px solid black ;
    box-shadow: 3px 3px 5px black;
    width: 31%;
    margin: 9PX 9PX;

   
    
    
}
.segmento p{

    font-size: 2em;
    position: relative;
    top: 43%;
    left: 25%;
    background: white;
    border-radius: 50px;
    width: 50%;
    text-shadow: 1px 1px 1px;     
    box-shadow: 1px 1px 1px black;
   
}
a{

    text-decoration: none;
    color: black;
}
.segmento:hover{
    opacity: 0.9;
    transition: 500ms;
    transform: scale(1.02);
}
.segmento:hover

.fornecedores{
    background-color: white;
}

.fornecedores div{
    display: inline-block;
    width: 12%;
    margin: 5px 5px;
    vertical-align: middle;
    margin: 5px 12px;
}
.fornecedores img{
    width: 100%;
}

.informacoes{

    width: 90%;
    margin: 5px auto;
    background-color: lightgray ;
   
}
.informacoes div{
    display: inline-block;
    width: 23%;
    margin: 0 10px;
    vertical-align: middle;
   
}
.informacoes span{
    font-weight: bold;
    color: red;
}

footer{
    width: 100%;
    background:linear-gradient(to top,#02DAC7,#048F96,#014667);
    height: 100px;
}