

header{
    width: 100%;
    background:linear-gradient(#02DAC7,#048F96,#014667);
    box-shadow: 0px 4px 5px black;
}
header img{
    width: 25%;
    
}

.img-cabecalho{
    position: relative;
    width: 940px;
    
}
.pesquisa{
    position: absolute;
    top:4em;
    right:4em;
    
}
div>input{
    width:600px;
    padding: 10px;
}
nav li{
    display: inline;
    padding: 5px;   
    
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(1, 70, 103,0.3);
}
li a:hover{
    background-color: rgb(1, 70, 103);
}
nav{
    position: absolute;
    top: 8em;
    right: 1em;
    margin: 0 50px;
}
main{
    width: 1040px;
    margin: 25px auto;
    background-color: rgb(236, 234, 234);
    height: 100%;
    box-shadow: 2px 2px 2px black;
}

section{
    width: 100%;
    margin: 0 auto;
    background-color: #02DAC7;

}
.principal{
    background: #014667;
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    
}
section{
    padding: 5px;
    box-sizing: border-box;
}
#segmento1{
    
    background-image: url("imagens/cortina-fundo.jpg");
    
}
#segmento2{
    background-image: url("imagens/cama.jpg");
}

.segmento{
    display: inline-block;
    background-size: cover;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    width: 31%;
    margin: 5PX 9PX;
   
    
    
}
.segmento p{

    font-size: 2em;
    position: relative;
    top: 43%;
    text-shadow: 1px 1px 1px;     
   
}
.segmento a{

    text-decoration: none;
    color: black;
}
.segmento:hover{
    opacity: 0.9;
    transition: 500ms;
    transform: scale(1.02);
}
