.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{

    display: flex;
}

/* o Flexbox pode não ser suportado em alguns navegadores por ser relativamente novo, para verificar se a propriedade é suportada por um navegador visite o site: caniuse.com */

.rodapePrincipal-patrocinadores .container{

    display: flex;
    justify-content: space-between;
    
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*Posso usar o comando flex-flow: column wrap; como um shorthand para os dois comandos acima */
    height: 260px;
}

.conteudoPrincipal-cursos{
    display: flex;
   
    flex-wrap: wrap;
    width: 100%;
}
.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
    
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}
.videoSobre .container{
display: flex;
text-align: center;
}
.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.videoSobre-sobre-list{
    flex-grow: 1;
    
}
.videoSobre-video{
    flex-grow: 1;
}

/*mobile */
@media(max-width: 768px){

.cabecalhoPrincipal-nav{
    flex-direction: column;
}
.cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.cabecalhoPrincipal-cursos{
    flex-direction: column;
  
}
.cabecalhoPrincipal-cursos-link{
    width: 100%;
}
.rodapePrincipal-navMap-list{
    height: auto;
}
.rodapePrincipal-patrocinadores .container{
flex-direction: column;
}
.rodapePrincipal-patrocinadores{
    margin: 0;
    width: 100%;
}
.rodapePrincipal-contatoForm{
    width: 100%;
}
.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}
.cabecalhoPrincipal-nav-link-app{
order: -1; /*altera a ordem de posicionamento de itens flex */
}
}