.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{

    display: flex;
}

/* o Flexbox pode não ser suportado em alguns navegadores por ser relativamente novo, para verificar se a propriedade é suportada por um navegador visite o site: caniuse.com */

.rodapePrincipal-patrocinadores .container{

    display: flex;
    justify-content: space-between;
    
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    
}
.rodapePrincipal-contatoForm{
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*Posso usar o comando flex-flow: column wrap; como um shorthand para os dois comandos acima */
    height: 260px;
}

.conteudoPrincipal-cursos{
    display: flex;
   
    flex-wrap: wrap;
    width: 100%;
}
.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
    
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}
.videoSobre .container{
display: flex;
text-align: center;
}
.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2; /*Esse comando faz com que esse elemento ao reduzir o tamanho da página ele encolha mais rapidamente do os outros elementos do flexbox 
    
    Se eu usar flex-shrink=0 o elemento não irá diminuir! Mesmo diminuindo a página
    */

    /* O comando flex é um shorthand para flex-grow e flex-shrink e flex-basis:
    Ex: flex: 2 1; (flex-grow: 2 flex-shrink: 1)
    */
    /*o comando flex-basis funciona dentro do flex como o width em outra situação */
}
.videoSobre-sobre-list{
    flex-grow: 2;
    align-items:  ;
    
}
/*O comando Flex-grow faz com que os elementos de uma flexbox ocupem o espaço restante na caixa, o fator selecionado indica quantas partes desse espaço será preenchido por cada elemento 
*/
.videoSobre-video{
    flex-grow: 1;
}

/*mobile */
@media(max-width: 998px){
    
    .conteudoPrincipal-cursos-link{
        width: 44%;
        
    }
    .conteudoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1%;
	}

	.conteudoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1%;
	}
    .conteudoPrincipal-cursos-link:nth-child(4n){
        margin-right: 1%;
    }
    .conteudoPrincipal-cursos-link:nth-child(4n+1){
        margin-left: 1%;
    }
    .conteudoPrincipal-cursos-link:nth-child(2n) {
		margin-right: 0;
	}

	.conteudoPrincipal-cursos-link:nth-child(2n+1) {
		margin-left: 0;
	}
}
    
@media(max-width: 768px){

.cabecalhoPrincipal-nav{
    flex-direction: column;
}
.cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.conteudoPrincipal-cursos{
    flex-direction: column;   
  
}
.conteudoPrincipal-cursos-link{
    width: 100%;
}
.rodapePrincipal-navMap-list{
    height: auto;
}
.conteudoPrincipal-cursos-link:nth-child(3n) {
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(3n+1) {
    margin: 1%;
}
.conteudoPrincipal-cursos-link:nth-child(4n){
    margin: 1%;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin: 1%;
}
.rodapePrincipal-patrocinadores .container{
flex-direction: column;
}
.rodapePrincipal-patrocinadores{
    margin: 0;
    width: 100%;
}
.rodapePrincipal-contatoForm{
    width: 100%;
}
.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}
.cabecalhoPrincipal-nav-link-app{
order: -1; /*altera a ordem de posicionamento de itens flex */
}
.videoSobre .container{
    flex-direction: column;
}
.videoSobre-video{
    margin: 0 auto;
}
}