.cabeca{
    min-height: 130px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #348888;
}
.cabeca-titulo{
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}
.titulo{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px solid white;
}
.corpo{
    background-color: #FA7F08;
}
.caixas{
    margin: 50px auto;
    width: 80%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
}
.bloco{
    width: 24%;
    height: 200px;
    margin: 20px 10px;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content:center;
}
.bloco:hover{
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
}