
body{
    background-color: lightgray;
}

.container-cabecalho{
/*background:linear-gradient(#02DAC7,#048F96,#014667);*/
background-color: orange;
box-shadow: 0px 3px 2px;
height: 200px;
}

.cabecalho-logo img{
 height: 60px;    
}
.cabecalho-lista{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho-lista-link{
    padding: 5px 35px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.link{
   color: white;
}


.produtos{
position: absolute;
left: 30%;
box-shadow: 0px 8px 16px 0px black;
min-width: 250px;
max-width: 700px;
max-height: 50vh;
width: 100%;
z-index: 1;
margin-top: 5px;
background-color: lightgray;
color: black;
border-radius: 5px;
padding: 10px;
display: none;
flex-wrap: wrap;
flex-direction: row;


}
.produtos-setor{
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.produtos-setor-titulo{
    margin-bottom: 20px;
    
    padding: 3px;
    text-align: center;
    text-shadow: 1px 1px 1px #013c57;
    font-size: 1.3rem;
    
}
.produtos-setor-item{
    display: flex;
    flex-direction: column;
}

.item{
    margin-bottom: 10px;
    font-size: 1rem;
}
.produtoss{
    display: flex;
}
.contatos{
    position: absolute;
    left: 55%;
    
    box-shadow: 0px 8px 16px 0px black;
    min-width: 100px;
    max-width: 250px;
    max-height: 50vh;
    width: 100%;
    z-index: 1;
    margin-top: 5px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;   
    
    }
    .contatos a{
        margin-bottom: 20px;
    }

.cabecalho-menu{
    background-color: #014667;
    height: 50px;
    display: flex;
    justify-content: center;
}
.cabecalho-logo{
    margin-left: 20px;
    height: 60px;            
}
.cabecalho-texto{
    
    font-size: 1.3rem;
    font-family: Pacifico, cursive;
    color: #014667;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
    line-height: 40px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}
.home{
    margin-left: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;   
}


.atendimento{
    height: 50px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #013c57;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 1px black;
    color: white;
  
}
.atendimento-titulo{
    font-size: 2rem;
    color: #013c57;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    
}
.atendimento-contato{
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.2rem;
padding: 5px;
color: inherit;
}
.atendimento-horario{
    font-size: 1rem;
    line-height: 20px;
}
.atendimento .rodape-whatsapp,.atendimento .rodape-instagram{
    color: white;
}

.banner{
    position: relative;
    margin-top: 2px;
}

.banner-imagem{
    
    height: calc(100vh - 283px);
    width: 100%;
    margin-top: 10px;
}
.banner-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    font-family: Pacifico, cursive;
    font-size: 2.5rem;
    text-shadow: 0 4px 4px black;
    color: #00DCC7;
    text-align: center;
}
main{
    width: 90%;
    margin: 0 auto;
    margin-top: 3px;
}
.texto{
    max-height: 20px;    
    line-height: 20px;
    font-size: 1.2rem;
    width: 30%;
    margin: 5px 5px;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    

}
.caixa{
    
    background-color: #014667;
    display: flex;
    flex-wrap: wrap;
    
    height: 200px;
    color: white;   
      
}

.departamentos-titulo{
    background-color: #014667;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
    height: 35px;
    text-shadow: 1px 1px 1px black;
}
.departamentos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.departamentos-container-segmento{
    width: 30%;
    margin: 1%;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    height: 200px;
    position: relative;
}

.departamentos-container-segmento:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.1s;
}
.moda{
    background-image: url('assets/imagens/moda.jpg');
    background-size: contain;    
}
.festa{
    background-image: url('assets/imagens/festa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cama{
    background-image: url('assets/imagens/cama.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
}
.banho{
    background-image: url('assets/imagens/banho.jpg');
    background-size: contain;
}
.decor{
    background-image: url('assets/imagens/cortina-fundo.jpg');
    background-size: cover;
}
.mesa{
    background-image: url('assets/imagens/mesa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.departamentos-container-segmento-texto{   
    position: absolute;
    color: white;
    width: 100%;
    box-shadow: 2px 2px 1px black;
    text-align: center;
    font-size: 1.5rem;
    background-color: #014667;

}
.fornecedores{
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px 10px 0 0;
}
.fornecedores-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.fornecedores-imagem{
    width: 23%;
    margin: 1%;
    height: 100px;

}
.vantagens{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #014667;
    height: 100px;
    align-items: center;
}
.vantagens-item{
    width: 23%;
   text-align: center;
   font-size: 1.4rem;
}
strong{
    font-weight: bold;
}
.mapa{
    width: 100%;
    margin-top: 5px;
}
.mapa-iframe{
    margin-top: 3px;
    width: 100%;
}
.rodape{
    height: 300px;
    width: 100%;
    background:#02bba5;
    display: flex;
    justify-content: left;
    color: #013c57;
    text-shadow: 0.5px 0.5px 0.5px black;
    
}
.rodape-departamentos, .rodape-contatos, .rodape-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 25%;
}
.rodape-departamentos-titulo, .rodape-contatos-titulo, .rodape-redes-titulo{
    height: 20%;
    margin-top: 10px;
    font-size: 1.5rem;
}
.rodape-departamentos-links, .rodape-contatos-links, .rodape-redes-links{
    display: flex;
    flex-direction: column;
    height: 80%;
    font-size: 1.2rem;
    line-height: 30px;
        
}
.rodape-instagram::before{
   content: url(assets/imagens/icone-instagram.png);
   padding-right: 5px;
}
.rodape-whatsapp::before{
content: url(assets/imagens/icone-whatsapp.png);
padding-right: 5px;
}
.rodape-telefone::before{
    content: "🕿 ";
}
.rodape-email::before{
    content: "✉ ";
}
.rodape-endereco::before{
    content: "📍 ";
}
.canal-video{
    margin-top: 5px;
}
.copy{
    background-color: #013c57;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 97.8%;
}
/*Responsividade*/

@media screen and (max-width:1220px) {
    
    .departamentos-container-segmento{
        width: 45%;
    }
    .departamentos-container{
        margin-top: 10px;
    }
    .banner-imagem{
        height: calc(70vh - 273px);
    }
    .banner-texto{
        font-size: 1.4rem;
    }
    .atendimento{
        height: 110px;
        line-height: 35px;
    }
    .atendimento-contato{
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    .cabecalho{
        flex-direction: column;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    .cabecalho-texto{
        max-width: 100%;
    }
    .cabecalho-logo img{
        margin: 10px auto;
        height: 50%;
        width: 100%;
    }
    .copy{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .copy div{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:800px) {
    .rodape{
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        
    }
    .rodape-contatos-links,.rodape-contatos-titulo,.rodape-contatos,.rodape-redes-links,.rodape-redes{
        width: 100%;
        line-height: 40px;
    }
    iframe{
        height: 250px;
    }
    .vantagens{
        flex-direction: column;
        height: 150px;
    }
    .vantagens-item{
        width: 100%;
        line-height: 40px;
        
    }
    .departamentos-container-segmento{
        width: 100%;
    }
    .departamentos-container{
        margin-top: 10px;
    }
    .banner-imagem{
        height: calc(70vh - 273px);
    }
    .banner-texto{
        font-size: 1.4rem;
    }
    .atendimento{
        height: 110px;
        line-height: 35px;
    }
    .atendimento-contato{
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    
    .cabecalho{
        flex-direction: column;
        height: 150px;
        justify-content: space-around;
    }
    .cabecalho-texto{
        max-width: 100%;
        height: 50%;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .cabecalho-logo img{
        width: 100%;
        height: 50%;
    }
    .produtos{
        left:5%;
        max-width: 500px;
    }
}

