header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	text-decoration: underline;
	color: darkgoldenrod;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	
}

.produtos li { /* (se lê: tag li que estiver em algum lugar dentro da classe produtos) */
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box; /*Essa propriedade é usada para que quando eu usar % (30% como width acima) e px (padding de 20px acima) para uma largura por exemplo eles não se somem como é o padrão do navegador mas sim que o padding faça parte dos 30% já setados na width. */
	border: 2px solid black;
	border-radius: 10px;
}
.produtos>li:hover{ /*se lê: ao passar o mouse por cima de uma tag li que estiver imediatamente dentro da classe produtos */
	border-color: darkorange;

}
.produtos li:active{
	border: 3px solid darkgreen;
}
.produtos li:hover h2{ /*lê se: ao passar o mouse por cima da tag li que estiver em algum lugar dentro da classe produtos altere o h2 */
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer{
	background-image: url("imagens/bg.jpg");
	text-align: center;
	padding: 40px 0;
}
.copyright{
	color: white;
	font-weight: bold;
	margin-top: 20px;
}
main{
	width: 940px;
	margin: 0 auto;
	background-color: aquamarine;
}
form{
	margin: 40px 0;
}
form input{
	display: block;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 50%;
	box-sizing: border-box;
}

form label{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}