/* Podemos usar seletores avançados do CSS para fazer operações únicas, por exemplo::after

main>p{} Esse comando usando > só vai afetar tags p que sejam filhos diretos (child) da tag main

main+p{} Esse comando usando + só vai afetar a primeira tag p do main

main ~ p{} Esse comando usando ~ vai afetar todas as tag p dentro do main, sobreescrevendo > e +.

.principal p:not(#missao){} Esse comando afeta todos os paragrafos da classe "principal" que não tem id "missao"
*/
/* Podemos usar a propriedade calc() do css para ajustar tamanhos com cálculo ao inves de manualmente, por exemplo:

digamos que width: 40%; represente 525px de largura na nossa tela, queremos ajustar para 500px, para não ficarmos chutando % até bater o valor, usamos: width: calc(40% - 25px); */


header {
	background: #BBBBBB;
	padding: 20px 0;
	
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	text-decoration: underline;
	color: darkgoldenrod;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	
}

.produtos li { /* (se lê: tag li que estiver em algum lugar dentro da classe produtos) */
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box; /*Essa propriedade é usada para que quando eu usar % (30% como width acima) e px (padding de 20px acima) para uma largura por exemplo eles não se somem como é o padrão do navegador mas sim que o padding faça parte dos 30% já setados na width. */
	border: 2px solid black;
	border-radius: 10px;
}
.produtos>li:hover{ /*se lê: ao passar o mouse por cima de uma tag li que estiver imediatamente dentro da classe produtos */
	border-color: darkorange;

}
.produtos li:active{
	border: 3px solid darkgreen;
}
.produtos li:hover h2{ /*lê se: ao passar o mouse por cima da tag li que estiver em algum lugar dentro da classe produtos altere o h2 */
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer{
	background-image: url("imagens/bg.jpg");
	text-align: center;
	padding: 40px 0;
}
.copyright{
	color: white;
	font-weight: bold;
	margin-top: 20px;
}
main{
	width: 940px;
	margin: 0 auto;
	
}
form{
	margin: 40px 0;

}
.input-padrao{
	display: block;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 50%;
	box-sizing: border-box;
}

form label, form legend{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;

}
div label{
	font-weight: normal;
	font-size: 18px;
}
.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	color: white;
	background-color: orange;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.5s all; /*propriedade usada para transição de uma característica para outra com uso de pseudoclasse (por exemplo mouse hover para trocar a cor)*/
	cursor: pointer; /* muda o cursor para a mãozinha */
	

}

.enviar:hover{
	background-color: orangered;
	transform: scale(1.1) rotate(360deg);
}
table{
	margin: 20px 0 40px;
	
}
thead{
	background-color: #555555;
	color: white;
	font-weight: bold;
}

td,th{
	border: 2px solid black;
	padding: 8px 15px;
	text-align: center;
}

.banner{
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em; /*2em quer dizer 2x o tamanho base da fonte usada */
	margin: 0 0 1em;
	clear: left; /*O comando clear: left anula o efeito do float nesse elemento */
	text-shadow: 1px 1px 5px red;
}


.titulo-principal::first-letter{

	font-weight: bold;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.imagem-beneficios{
	width: 60%;
	opacity: 1; /* Essa propriedade altera a opacidade (visibilidade) do elemento */
	box-shadow: 10px 10px 5px 5px black; /*, -15px -15px red; pode-se concatenar varias sombras em um comando */
	/*(box-shadow: eixo X, eixo Y, blur(espalhamento), intensidade, cor */
	
}
.imagem-beneficios:hover{
	opacity: 0.3;
	transition: 400ms;
}
.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
	/*box-shadow: inset 5px 5px 20px red; sombra interna*/
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	
}
.itens:before{
	content: "✷";
}
body{
	background: linear-gradient(to bottom,rgb(231, 231, 227),rgb(73, 73, 72));
	font-family: 'Montserrat', sans-serif;
}


.utensilios{
	width: 120px;
	float: left; /*Comando float faz com que o texto fique ao redor da imagem, contornando-a */
	margin: 0 20px 20px 0;
}

.mapa{
	padding: 3em 0;
}
.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.video{
	width: 560px;
	margin: 2em auto;
}

.itens{
	line-height: 1.5em;
}
.itens:first-child{ /*Queremos que o primeiro elemento que tiver a class "itens" sofra as modificações abaixo, para isso usaremos o pseudoelemento :first-child */
	/* para o ultimo elemento: last-child.
	Para o elemento n: nth-child(n) */
	font-weight: bold;
}

@media screen and (max-width = 480px){

	.caixa,.principal,.conteudo-beneficios,.mapa,.video{
		width: auto;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
	.imagem-beneficios,.conteudo-beneficios{
		width: 100%;
	}
	}
